<hr />
<h4>Contact details:</h4>
<p>Name: <strong>{{model.name}}</strong></p>
<p>Phone number: <strong>{{model.phone}}</strong></p>
<p>Email address: <strong>{{model.email}}</strong></p>
<p>{{#link-to 'contacts.edit'}}edit details{{/link-to}}</p>