{{main-nav}}

<div class="container">
	{{!-- <h2 id="title">Welcome to Ember.js</h2> --}}
	{{outlet}}
</div>



{{!-- 
	notes, july 8, 2015
	- read components!!! check ember.js website..
	- webcomponents.org
	- emberjs.jsbin.com
	- 

 --}}